/**
 * @Author: Ali
 * @Date:   2020-06-02T11:17:24+02:00
 * @Last modified by:   Ali
 * @Last modified time: 2020-06-02T14:15:16+02:00
 */

.app {
  width: 100%;
  display: flex;
  font-size: 2rem
}

.main {
  border: 2px solid red;
  width: 100%;
  height: 100vh;
  margin-left: 20px;
  padding:10px;
}
.sidebar {
  width: 20%;
}

Button {
  width: 100%;
}
