/**
 * @Author: Ali
 * @Date:   2020-06-02T11:17:24+02:00
 * @Last modified by:   Ali
 * @Last modified time: 2020-06-09T15:16:23+02:00
 */

.app {
  width: 100%;
  display: flex;
  font-size: 2rem;
}

.main {
  justify-content: space-between;
  height: 100vh;
  width:100%;
  padding:10px;
}
.sidebar {
  margin: 10px;
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}
table {
  border-spacing: 15px;
}
thead,  tfoot {
      background-color: #3f87a6;
      color: #fff;
  }
tbody {
      background-color: #e4f0f5;
  }
